.features{
   text-align: center;
   margin: 0 auto;
}
.tabList{
    text-align: center;
}
.tabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    
}
.features-title{
color: orange;
}
.tabs img{
    width: 300px;
    height: 200px;
    border-radius: 50%;
}
.react-tabs__tab--selected{
    background: rgba(187, 187, 187, 0.527);
    border-radius: 20px;
}
.tab{
    background: #ffffff;
    box-shadow:  41px 41px 82px #e6e4e4,
             -41px -41px 82px #ffffff;
}
@media screen and (max-width:998px){
    .tabs{
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media screen and (max-width:768px){
    .tabs{
        grid-template-columns: repeat(1 , 1fr);
    }
}