.addItems{
    background: linear-gradient(to right ,rgba(183, 242, 248, 0.623) , rgba(225, 157, 252, 0.377)) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 5%;
}
.addItems-container{
    margin: auto;
    text-align: left;
    width: 70%;
    padding: 2%;
    display: flex;
    background: red;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  41px 41px 82px #e6e4e4,
             -41px -41px 82px #ffffff;
}
.addItems-container > form{
    width: 100%;
}
.addItems-container > form > input , textarea{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: rgba(224, 224, 224, 0.322);
    font-size: 20px;
}
.addItems-container > form > input[type='submit']{
    width: 50%;
    display: block;
    margin: auto;
    background: linear-gradient(to left , rgb(75, 212, 236) , rgb(93, 175, 212));
}